<nav id="opac" style="background-color:black; " class="fixed-top ">
  <!---->
  <div class="d-flex justify-content-between bd-highlight  text-white " style="margin-top: 10px; ">
  
    <!---->
    <div class="p-2   bd-highlight "> <p class="text-white "  style="margin-top: -1rem; " >
      <p>
        
        <i class="p-1 bi bi-app-indicator "><a routerLink="/cadastrarFilmes" class="p-2 text-white">Filmes</a> </i>  
        <i class="p-1 bi bi-app-indicator"><a routerLink="/cadastrarCategoria" rel="noopener" target="_blank" class="p-2 text-white">Categorias</a></i>
        
      </p>
    </div>
  <!---->
    <div class="p-2  bd-highlight col-sm-2"><a routerLink="/" class="p-2 text-white"> <img src="assets/logo/logo.png"  style="max-width:20px;"> </a></div>
   
    <div class="p-2  bd-highlight"> <i class="bi bi-search" ></i></div>
  </div>
</nav>

