@import "~bootstrap-icons/font/bootstrap-icons.css";

nav{
    //border:1px solid blue;
    height: 4rem;
    //pacity:0.5 ;
}

a{
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}