<!-- Footer -->
<footer class="text-center  text-muted" style="background-color:black ;" >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center  p-2  aux-div text-center">
                <!--Grid column-->
                <div >
                  <a routerLink="/" class="p-2 text-white"><p class="text-white "><i class="fas fa-home me-1"></i>Home</p></a>
                </div>


                <!--Grid column-->
                <div >
                  <!--ROUTE LINK NÃO DEFINIDO-->
                  <a routerLink="/" class="p-2 text-white"><p class="text-white"><i class="bi bi-person me-1"></i>Login</p></a>
                </div>
 
                                  
                <!--Grid column-->
                <div >
                  <!--ROUTE LINK NÃO DEFINIDO-->
                  <a routerLink="/" class="p-2 text-white"><p  class="text-white" ><i class="bi bi-justify  me-1"></i>More</p></a>
                </div>

    </section>
  </footer>
  <!-- Footer -->

  