<!-- Footer -->
<footer class="text-center  text-muted" style="background-color:black ;" >
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center  p-2  aux-div text-center">
                <!--Grid column-->
                <div >
                    <p class="text-white "><i class="fas fa-home me-1"></i>Home</p>
                  </div>
                <!--Grid column-->

                <!--Grid column-->
                <div >
                    <p class="text-white"><i class="bi bi-person me-1"></i>Login</p>
                  </div>
                <!--Grid column-->
                                  
                <!--Grid column-->
                <div >
                    <p  class="text-white" ><i class="bi bi-justify  me-1"></i>More</p>
                  </div>
                <!--Grid column-->
    </section>
  </footer>
  <!-- Footer -->

  